@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.btn {
  border: none;
  text-wrap: nowrap;
  border-radius: $radius-default;
  padding: $spacing-unit $spacing-gutter;
  color: $surface-lowest;
  @include label-md;
  cursor: pointer;
  background-color: $brand-safety;

  img {
    min-width: 22px;
    width: 22px;
    min-height: 22px;
    height: 22px;
  }

  &.social-wa {
    background-color: $whatsapp-icon-background;
  }

  &.social-tg {
    background-color: $telegram-icon-background;
  }
}
