@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.btn {
  border: none;
  text-wrap: nowrap;
  border-radius: $radius-default;
  padding: $spacing-unit $spacing-gutter;
  color: $surface-lowest;
  @include label-md;
  cursor: pointer;
  background-color: $brand-safety;
}
