@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.cta {
  background-color: $surface-low;
  padding: 0 0 $spacing-section-padding 0;

  @include tablet {
    padding: 0 0 $spacing-margin-desktop 0;
  }

  @include mobile {
    padding: 0 0 $spacing-margin-tablet 0;
  }

  &__box {
    background-color: $surface-lowest;
    border: $border-emphasis;
    border-radius: $radius-default;
    padding: $spacing-stack-md;
    @include flex(flex-start, center, column, nowrap, $spacing-stack-md);
    text-align: center;
  }

  &__text {
    @include flex(flex-start, center, column, nowrap, $spacing-stack-sm);
    text-align: center;
    max-width: 700px;
  }

  &__title {
    color: $brand-primary;
  }

  &__buttons {
    width: fit-content;
    height: 100%;
    @include flex(center, center, row, wrap, $spacing-stack-md);
  }

  &__social {
    height: 100%;
    padding: $spacing-stack-sm;
    transition: $transition-default;
    @include flex(flex-start, center, row, nowrap, $spacing-stack-xs);

    &:hover {
      opacity: 0.6;
    }
  }

  &__phone {
    transition: $transition-default;

    &:hover {
      opacity: 0.6;
    }
  }
}