@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.maintenance {
  padding: $spacing-section-padding 0;
  background-color: $surface-low;
  border-bottom: $border-weight;
  border-top: $border-weight;

  @include tablet {
    padding: $spacing-margin-desktop 0;
  }

  @include mobile {
    padding: $spacing-margin-tablet 0;
  }

  .container {
    @include flex(flex-start, center, column, nowrap, $spacing-stack-lg);
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    @include body-lg;
    color: $brand-primary;
  }

  &__maintenance {
    margin-top: -$spacing-gutter;
    text-transform: lowercase;
    @include body-md;
    color: $on-surface-variant;
  }

  &__brands {
    padding: $spacing-stack-sm $spacing-stack-md;
    border-radius: $radius-md;
    @include flex(center, center, row, wrap, $spacing-stack-lg);
    row-gap: $spacing-stack-md;
    width: 100%;
    color: $on-surface-variant;
    background-color: $background;

    @include mobile {
      @include headline-md;
      gap: $spacing-stack-md;
    }
  }

  &__brand-icon {
    transition: $transition-default;
    cursor: pointer;
    opacity: 0.6;

    img {
      height: $spacing-gutter;
    }
    
    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }
  }

  &__more-info {
    color: $brand-primary;
    @include body-md;
  }
}