@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.services {
  padding: $spacing-section-padding 0;
  background-color: $background;

  @include tablet {
    padding: $spacing-margin-desktop 0;
  }

  @include mobile {
    padding: $spacing-margin-tablet 0;
  }

  .container {
    @include flex(flex-start, center, column, nowrap, $spacing-stack-lg);
  }

  &__content {
    @include flex(flex-start, center, column, nowrap, $spacing-unit);
    text-align: center;
    max-width: 800px;
  }

  &__title {
    color: $brand-primary;
    @include headline-lg;

    @include tablet {
      @include headline-lg-mobile;
    }

    @include mobile {
      @include headline-md;
    }
  }

  &__description {
    color: $on-surface-variant;
    @include body-md;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: $spacing-gutter;
    width: 100%;

    @include mobile {
      gap: $spacing-stack-md;
    }
  }

  &__card {
    background-color: $surface-lowest;
    border: $border-default;
    border-radius: $radius-md;
    padding: $spacing-stack-lg;
    @include flex(flex-start, flex-start, column, nowrap, $spacing-stack-md);

    &-icon {
      width: 30px;
    }

    &-title {
      color: $brand-primary;
      @include headline-md;
    }

    &-description {
      color: $on-surface-variant;
      @include body-md;
    }
  }

  &__prevention {
    grid-column: 3;
    grid-row: 3;
    width: 100%;
    border: $border-default;
    border-radius: $radius-default;
    overflow: hidden;
    padding: $spacing-gutter;
    background-color: $surface-lowest;
    @include flex(flex-start, stretch, column, nowrap, $spacing-stack-md);

    @include tablet {
      grid-column: 1 / -1;
      grid-row: 4;
    }

    .prevention__header {
      @include flex(flex-start, center, row, nowrap, $spacing-stack-sm);

      img {
        width: 20px;
      }
    }

    .prevention__icon-box {
      min-width: 20px;
    }

    .prevention__title {
      @include headline-md;
      color: $brand-primary;
    }

    .prevention__content {
      border-left: $border-emphasis;
      padding-left: $spacing-stack-sm;
      @include body-md;
      color: $on-surface-variant;
    }
  }

  &__more-info {
    color: $brand-primary;
    @include body-md;
  }
}
