@use '../base/fonts' as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.header {
  padding: $spacing-stack-sm 0;
  background-color: $surface-lowest;
  width: 100%;
  position: fixed;
  z-index: 900;

  .container {
    @include flex(space-between, center, row);
  }

  &__logo {
    @include flex(flex-start, flex-start, column);
    width: max-content;

    img {
      width: 18px;
    }

    p {
      @include logo;
      color: $brand-primary;
    }

    span {
      color: $brand-safety;
    }
  }

  &__nav {
    &-list {
      @include flex(space-between, center, row, nowrap, $spacing-stack-md);
      max-width: 720px;
      min-width: 572px;
      width: fit-content;
      text-align: center;
    }

    &-item {
      @include label-md;
      transition: $transition-default;
      background-image: linear-gradient(to right, $brand-safety, $brand-safety);
      background-position: 0 100%;
      background-size: 0% 2px;
      background-repeat: no-repeat;

      &:hover {
        background-size: 100% 2px;
      }
    }

    @include tablet {
      display: none;
    }
  }

  &__social {
    height: 100%;
    padding: $spacing-stack-sm;
    transition: $transition-default;

    &:hover {
      opacity: 0.6;
    }
  }

  &__action {
    width: fit-content;
    height: 100%;
    @include flex(space-between, center, row, nowrap, $spacing-stack-md);

    @include tablet {
      display: none;
    }
  }

  &__phone {
    transition: $transition-default;

    &:hover {
      opacity: 0.6;
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: calc($spacing-stack-xs + $spacing-margin-desktop);
    height: $spacing-stack-lg;
    background-color: transparent;
    padding: 0;

    @include tablet {
      display: flex;
    }

    & span {
      width: 100%;
      height: $spacing-stack-xs;
      background-color: $brand-primary;
      position: relative;

      &:first-child {
        top: -3px;
      }
      &:last-child {
        bottom: -3px;
      }
    }
    &.burger-open {
      span {
        &:first-child {
          top: 1px;
          transform: rotate(45deg);
        }
        &:last-child {
          bottom: 1px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.header__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: block;
  opacity: 0;
  visibility: hidden;
  @include transition-default;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
