@use './base/fonts';
@use './abstracts/mixins' as *;
@use './abstracts/variables' as *;
@use './base/typography' as *;
@use './base/reset';
@use './layout/container';
@use './components/buttons';
@use './layout/header';
@use './components/burger-menu';
@use './pages/home';
@use './layout/footer';

body {
  min-height: 100dvh;
  position: relative;
  @include flex(flex-start, stretch, column);
}

main {
  flex: 1;
}